.userinfo {
  color: var(--color-primary-800);
  background-color: var(--color-primary-500);
  padding: var(--space-xl);
  border-radius: var(--space-md);
  width: 100%;
  max-width: 35rem;

  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  width: 16rem;
  padding-bottom: 16rem;
  margin-bottom: var(--space-md);
  border-radius: var(--space-md);
  align-self: center;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.upload-button-container {
  display: inline-block;
  align-self: center;
  margin-bottom: var(--space-sm);
}

.image-disclaimer,
.image-disclaimer-error {
  font-size: var(--text-sm);
  text-align: center;
  margin-bottom: var(--space-xl);
}
.image-disclaimer-error {
  color: var(--color-error-500);
}

.userinfo__inputs {
  margin-bottom: var(--space-md);
}

.name__container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  margin-bottom: var(--space-md);
}

.name__input-container {
  display: flex;
  align-items: center;
  gap: var(--space-sm);

  width: 100%;
  padding: var(--space-sm);
  border-radius: var(--space-xs);
  outline: 0.5px solid var(--color-primary-800);
  background-color: var(--color-primary-200);
}
.name__input-container:focus {
  outline: 1px solid var(--color-primary-800);
}

.name__label {
  font-size: var(--tertiary-heading);
}
.name__input {
  font-size: var(--tertiary-heading);
  color: var(--color-primary-800);
  opacity: 0.75;
  width: 100%;
  background-color: var(--color-primary-200);
}
.name__input:focus {
  outline: none;
}
.name__input::placeholder {
  opacity: 0.5;
}
