.userinfo {
  color: var(--color-primary-800);
  background-color: var(--color-primary-500);
  padding: var(--space-xl);
  border-radius: var(--space-md);
  width: 100%;
  max-width: 35rem;

  display: flex;
  flex-direction: column;
}
.image-input-box {
}
.image-container {
  display: inline-block;
  border-radius: var(--space-md);
  align-self: center;
  margin-bottom: var(--space-sm);
}
.image {
  width: 16rem;
  height: 16rem;
  border-radius: var(--space-md);
}

.upload-button-container {
  display: inline-block;
  align-self: center;
  margin-bottom: var(--space-sm);
}

.image-disclaimer,
.image-disclaimer-error {
  font-size: var(--text-sm);
  text-align: center;
  margin-bottom: var(--space-xl);
}
.image-disclaimer-error {
  color: var(--color-error-500);
}

.userinfo__inputs {
  margin-bottom: var(--space-md);
}

.name__container,
.label__container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  margin-bottom: var(--space-md);
}

.name__input-container,
.username__input-container {
  display: flex;
  align-items: center;
  gap: var(--space-sm);

  width: 100%;
  padding: var(--space-sm);
  border-radius: var(--space-xs);
  outline: 0.5px solid var(--color-primary-800);
  background-color: var(--color-primary-200);
}
.name__input-container:focus,
.username__input-container:focus {
  outline: 1px solid var(--color-primary-800);
}

.name__label,
.username__label {
  font-size: var(--text);
}
.name__input,
.username__input {
  font-size: var(--text);
  color: var(--color-primary-800);
  opacity: 0.75;
  width: 100%;
  background-color: var(--color-primary-200);
}
.name__input:focus,
.username__input:focus {
  outline: none;
}
.name__input::placeholder,
.username__input::placeholder {
  opacity: 0.5;
}

.button-container {
  display: inline-block;
}

.save-button-container {
  align-self: stretch;
}
