.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  min-width: 30rem;
  max-width: 60rem;
  background-color: var(--color-success-100);
  border: 1px solid var(--color-success-700);
  border-radius: var(--space-lg);
}
.success-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-md);

  padding: var(--space-lg);
  color: var(--color-primary-800);
}

.heading {
  font-size: var(--secondary-heading);
  margin-bottom: var(--space-xs);
  color: var(--color-success-900);
}
.message {
  font-size: var(--text);
  color: var(--color-success-900);
}
.cross-button {
  cursor: pointer;
  background-color: transparent;
  fill: var(--color-success-900);
}
