.loader {
  /* padding: 1em; */
  /* margin-top: 30%; */
  display: flex;
  height: 100%;
  justify-content: center;
}

.spinner {
  animation: rotate 2s linear infinite;
  /* For the future if i want to overlay this */
  /* z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px; */
  width: 42px;
  height: 42px;
}

.small {
  width: 24px;
  height: 24px;
}
.medium {
  width: 16px;
  height: 16px;
}
.large {
  width: 42px;
  height: 42px;
}

.spinner .path {
  stroke: var(--color-primary-700);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
