.bookmark__article {
  border-radius: var(--space-lg);
  transition: background-color 0.1s ease-in;
  min-width: 20rem;
}
.bookmark__article:hover {
  background-color: var(--color-primary-400);
  cursor: pointer;
}

.bookmark__content {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-md);
}

.bookmark__author-image,
.bookmark__author-image {
  position: relative;
  width: 4rem;
  padding-bottom: 4rem;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: var(--space-sm);
}

.bookmark__author-name {
  font-size: var(--text-sm);
  margin-bottom: var(--space-xs);
  font-weight: 500;
}
.bookmark__title {
  font-size: var(--text-sm);
  line-height: 1.25;
}
