.saved-posts-container {
  background-color: var(--color-primary-300);
  padding-top: var(--space-lg);
  border-radius: var(--space-lg);
  color: var(--color-primary-800);
}

.saved-posts-list {
  display: flex;
  flex-direction: column;
}

.saved-posts-heading {
  font-size: var(--tertiary-heading);
  margin-bottom: var(--space-md);
  padding-inline: var(--space-lg);
}
