.edit-profile-container {
  position: relative;
  margin: var(--space-xl);
}

.edit-profile {
  padding: var(--space-xl);
  background-color: var(--color-primary-300);
  border-radius: var(--space-md);
}

.edit-profile-title {
  margin-bottom: var(--space-lg);
  font-size: var(--secondary-heading);
  color: var(--color-primary-900);
  font-weight: 700;
}

.form-item {
  display: flex;
  gap: var(--space-md);
  align-items: flex-end;
  justify-content: space-between;

  margin-bottom: var(--space-xl);
}

.input-container {
  width: 100%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.label {
  font-size: var(--text);
  color: var(--color-primary-800);
}

.input {
  padding: var(--space-sm);
  font-size: var(--text);
  border-radius: var(--space-xs);
  outline: 0.5px solid var(--color-primary-700);
  background-color: var(--color-primary-200);
  color: var(--color-primary-800);
}
.input:focus {
  outline: 1px solid var(--color-primary-900);
}
.input::placeholder {
  color: var(--color-gray-500);
}

/* Spinner style needs to be changed which needs an entire app refactor */
.button-container {
  max-width: 30rem;
}

.delete-account-form {
  margin-top: var(--space-2xl);
}
.delete-button {
  background-color: var(--color-error-500);
  color: var(--color-primary-100);
}

.profile-photo-form {
  margin-bottom: var(--space-xl);
}
.profile-photo-input {
  width: 100%;
  max-width: 60%;

  padding: var(--space-sm);
  font-size: var(--text);
  border-radius: var(--space-xs);
  outline: 0.5px solid var(--color-primary-800);
  background-color: var(--color-primary-200);
  color: var(--color-primary-800);
  margin-bottom: var(--space-sm);
}

.profile-photo-wrapper {
  margin-bottom: var(--space-md);
}
.profile-photo-container,
.profile-photo-placeholder {
  width: 12rem;
  padding-bottom: 12rem;
  position: relative;
  border-radius: var(--space-md);
  overflow: hidden;
}
.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: ;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* RE AUTHENTICATION STYLES */
.login-account-container {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
