.page-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* gap: var(--space-2xl); */

  max-width: 120rem;
  width: 100%;
  min-width: 50rem;
  height: 100%;
  margin: 0 auto;
  padding-inline: var(--space-md);
}
