.modal {
  position: absolute;
  min-width: 20rem;
  top: 30dvh;
  left: 45dvw;
  transform: translateX(-50%);
  z-index: 20;

  padding: var(--space-xl);
  background-color: var(--color-primary-300);
  border-radius: var(--space-lg);
  border: 1px solid var(--color-primary-700);
  color: var(--color-primary-800);
}

.title {
  font-size: var(--secondary-heading);
  margin-bottom: var(--space-sm);
  font-weight: 600;
}
.message {
  font-size: var(--text-sm);
  margin-bottom: var(--space-lg);
}

.close-button {
  cursor: pointer;
  background-color: transparent;
  font-size: var(--text);
  color: var(--color-primary-700);
  margin-right: var(--space-md);
  transition: color 0.2s ease;
}
.close-button:hover {
  color: var(--color-primary-900);
}

/* Overlay styles are in RootPage.module.css */
