.modal {
  position: absolute;
  min-width: 35rem;
  bottom: 50%;
  left: 50dvw;
  transform: translateX(-50%);
  z-index: 20;

  padding: var(--space-xl);
  background-color: var(--color-primary-500);
  border-radius: var(--space-md);
  color: var(--color-primary-800);
}
.heading {
  font-size: var(--secondary-heading);
  margin-bottom: var(--space-lg);
}

.close-button {
  cursor: pointer;
  background-color: transparent;
  font-size: var(--text);
  color: var(--color-primary-800);
  margin-right: var(--space-md);
}
