.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);

  min-width: 30rem;
  background-color: var(--color-error-300);
  border-radius: var(--space-md);
  box-shadow: 2px 2px 10px 5px var(--color-error-shadow-300);
}

.error-container {
  padding: var(--space-lg);
  color: var(--color-primary-800);
}

.heading {
  font-size: var(--secondary-heading);
  margin-bottom: var(--space-xs);

  color: var(--color-gray-900);
}

.message {
  font-size: var(--text);
  margin-bottom: var(--space-md);

  color: var(--color-gray-900);
}
