.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  min-width: 30rem;
  max-width: 60rem;
  background-color: var(--color-error-300);
  border: 1px solid var(--color-error-700);
  border-radius: var(--space-lg);
}
.error.flow {
  top: var(--space-xl);
  left: 50%;
  transform: translateX(-50%);
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-md);

  padding: var(--space-lg);
  color: var(--color-primary-800);
}

.titlekj {
  font-size: var(--secondary-heading);
  margin-bottom: var(--space-xs);
  color: var(--color-gray-900);
}
.message {
  font-size: var(--text);
  color: var(--color-gray-900);
}
.cross-button {
  cursor: pointer;
  background-color: transparent;
  fill: #000;
}
