.menu-button,
.menu-button__no-content {
  background-color: transparent;
  padding: var(--space-md);
  border-radius: var(--space-md);
  transition: background-color 0.15s ease-in;
  cursor: pointer;
  min-height: 5.5rem;
}
.menu-button__no-content {
  align-self: flex-start;
}
.menu-button {
  display: flex;
  gap: var(--space-lg);
  align-items: center;
  font-size: var(--fs-lg);
}
.menu-button:hover {
  background-color: var(--color-primary-500);
}
.menu-button.menu-button__active {
  background-color: var(--color-primary-500);
  font-weight: 700;
}

.menu-button__title {
  color: var(--color-primary-800);
  /* opacity: 0; */
  /* transition: all 0.5s ease-in-out; */
}
.menu-button__title.menu-open {
  /* opacity: 1; */
}
