.reflections-plus-advert {
  background-color: var(--color-choice-2);
  padding: var(--space-lg);
  border-radius: var(--space-sm);

  /* box-shadow: 1px 2px 3px 0 rgb(0, 0, 0, 0.05); */
}
.advert__heading {
  color: var(--color-blue-800);
  font-size: var(--tertiary-heading);
  margin-bottom: var(--space-md);
}
.advert__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding-left: var(--space-md);
  margin-bottom: var(--space-lg);

  list-style: disc;
}
.advert__item {
  font-size: var(--text-sm);
}
.advert__button {
  cursor: pointer;
  font-size: var(--fs-base);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--space-md);
  color: var(--color-blue-300);
  background-color: var(--color-blue-800);

  transition: background-color 0.1s ease-in;
}
.advert__button:hover {
  background-color: var(--color-blue-700);
}
