.reflections__container {
  padding: var(--space-xl);
  color: var(--color-primary-800);
}

.heading {
  font-size: var(--secondary-heading);
}

.heading__container {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  margin-bottom: var(--space-md);
}

.reflections__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-sm);
}
.half-1 {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.reflect-button:link,
.reflect-button:visited {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  background-color: transparent;
  background-color: var(--color-primary-300);
  cursor: pointer;
  padding: var(--space-md);
  border-radius: var(--space-sm);
  text-decoration: none;
  color: var(--color-primary-800);

  transition: all 0.1s ease-in;
}
.reflect-button:hover {
  background-color: var(--color-primary-400);
}

.reflect-text {
  font-size: var(--text);
}
