.post {
  padding: var(--space-xl);
  color: var(--color-primary-900);
}
.post__container {
  display: flex;
  flex-direction: column;
}

.post-image-container {
  margin-bottom: var(--space-xl);
}
.post-image {
  position: relative;
  max-width: 71rem;
  padding-bottom: 40rem;
  background-size: cover;
  border-radius: var(--space-md);
  overflow: hidden;
}

.post__header {
  margin-bottom: var(--space-xl);
}
.post__title {
  font-size: var(--primary-heading);
}

.author__container {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  margin-bottom: var(--space-2xl);
}
.author__image-container {
  display: inline-block;
}
.author__image {
  position: relative;
  width: 5rem;
  padding-bottom: 5rem;
  border-radius: 100%;
  overflow: hidden;
}
.author__details {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author__actions {
  display: flex;
  gap: var(--space-md);
  align-items: center;
}
.author__link:link,
.author__link:visited {
  font-size: var(--tertiary-heading);
  font-weight: 800;
  text-decoration: none;
}
.author__link:hover {
  text-decoration: underline;
}
.author__follow {
  cursor: pointer;
  font-size: var(--fs-base);
  padding: var(--space-sm) var(--space-lg);
  border-radius: var(--space-md);
  background-color: var(--color-primary-800);
  color: var(--color-primary-300);

  transition: background-color 0.1s ease-in;
}
.author__follow:hover {
  background-color: var(--color-primary-700);
}
.author__tags {
  display: flex;
  gap: var(--space-xs);
  color: #000;
}
.author__tag {
  font-size: var(--text-xs);
  background-color: var(--color-choice-3);
  padding: var(--space-xs);
  border-radius: var(--space-xs);
  font-weight: 600;
}

.date-published,
.post__minutes {
  font-size: var(--text);
  font-weight: 500;
  background-color: var(--color-primary-400);
  padding: var(--space-xs);
  border-radius: var(--space-sm);
}

/* Paragraph and quotes */
.details__text {
  font-size: var(--tertiary-heading);
  line-height: 2;
  font-family: var(--ff-serif);
  margin-bottom: var(--space-xl);
}
.block-quote {
  display: flex;
  align-items: flex-start;
  gap: var(--space-md);
  margin-bottom: var(--space-xl);
  padding: var(--space-md);
  border-radius: var(--space-md);

  background-color: var(--color-primary-400);
}
.block-quote__content {
  font-size: var(--text);
  font-style: italic;
}
