.flow {
  color: var(--color-primary-800);
}

.flow__container {
  position: relative;

  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-lg);
}

.flow__container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-500);
  padding: var(--space-2xl);
}
.logo__container {
  position: relative;
  width: 40rem;
  padding-bottom: 40rem;
  border-radius: var(--space-md);
  overflow: hidden;
  margin-bottom: var(--space-lg);
}

.flow__container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-2xl);
}

.flow__heading {
  font-size: var(--primary-heading);
  margin-bottom: var(--space-lg);
}
