.heading {
  font-size: var(--secondary-heading);
}
.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-md);

  padding-bottom: var(--space-sm);
  border-bottom: 0.5px solid var(--color-primary-700);
}

.canvas {
  color: var(--color-primary-900);
  margin-block: var(--space-3xl);
}

/* form element */
.canvas-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  width: 60%;
  margin: 0 auto;
}
.canvas-actions {
  display: flex;
  gap: var(--space-xs);
}
.preview-save-container {
  display: flex;
  gap: var(--space-sm);
}

/* Tooltip START */
.tooltip-container {
  display: flex;
  gap: var(--space-xs);

  visibility: visible;
  opacity: 1;
  transition: all 0.15s ease-in;
}
.tooltip-container.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}
.tooltip-button {
  cursor: pointer;
  fill: var(--color-primary-200);
  padding: var(--space-md);
  background-color: var(--color-primary-400);
  border-radius: var(--space-sm);

  transition: background-color 0.15s ease-in;
}
.tooltip-button:hover {
  background-color: var(--color-primary-500);
}

.add-button-container {
  cursor: pointer;
  display: inline-block;
  padding: var(--space-md);
  background-color: var(--color-primary-800);
  border-radius: var(--space-sm);
  font-size: var(--text);

  transition: background-color 0.15s ease-in;
}
.add-button-container:hover {
  background-color: var(--color-primary-900);
}
.add-icon {
  transition: transform 0.15s ease-in;
  fill: var(--color-primary-200);
}
/* Tooltip END */

/* Shared input styles START */
.title-input,
.paragraph-input,
.block-quote-input {
  font-family: var(--ff-serif);

  padding: var(--space-sm);
  border-radius: var(--space-sm);

  background-color: var(--color-primary-400);
  color: var(--color-primary-900);
  transition: background-color 0.15s ease-in;
}
.title-input:hover,
.paragraph-input:hover,
.block-quote-input:hover,
.image-input-container:hover {
  background-color: var(--color-primary-500);
}
/* Shared input styles END */

/* Title Start */
.title-input {
  font-size: var(--secondary-heading);
  padding: var(--space-md);
  width: 100%;
  /* margin-bottom: var(--space-md); */
}
.title-input:focus,
.paragraph-input:focus,
.block-quote-input:focus {
  outline: none;
  background-color: var(--color-primary-500);
}
/* Title End */

/* Paragraph Start */
.paragraph-input {
  font-size: var(--tertiary-heading);
  /* margin-bottom: var(--space-md); */
  width: 100%;

  padding: var(--space-md) var(--space-md);
  min-height: 35rem;
  resize: none;
  line-height: 1.5;
}
/* Paragraph End */

/* Image Start */
.image-input {
  display: none;
}
.image-input-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);

  min-height: 40rem;
  background-color: var(--color-primary-400);
  border-radius: var(--space-md);
}
.image-icon-container {
  cursor: pointer;
  background-color: transparent;
}
.image-error-text {
  background-color: var(--color-error-200);
  color: var(--color-error-900);
  font-size: var(--text-sm);
  padding: var(--space-xs);
  border-radius: var(--space-xs);
}
/* Image End */

/* Block Quote Start */
.block-quote-input {
  font-size: var(--tertiary-heading);
  padding: var(--space-md);
  width: 100%;
  /* margin-bottom: var(--space-md); */
}
/* Block Quote End */

/* Link Start */

/* Link End */
