.heading {
  font-size: var(--secondary-heading);
}
.heading__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-md);

  padding-bottom: var(--space-sm);
  border-bottom: 0.5px solid var(--color-primary-700);
}

.canvas {
  color: var(--color-primary-900);
  margin-block: var(--space-3xl);
}

/* form element */
.canvas__container {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  width: 60%;
  margin: 0 auto;
}
.canvas-actions {
  display: flex;
  gap: var(--space-xs);
}
.preview-save-container {
  display: flex;
  gap: var(--space-sm);
}

/* Tooltip START */
.tooltip-container {
  display: flex;
  gap: var(--space-xs);

  visibility: visible;
  opacity: 1;
  transition: all 0.15s ease-in;
}
.tooltip-container.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}
.tooltip-button {
  cursor: pointer;
  fill: var(--color-primary-200);
  padding: var(--space-md);
  background-color: var(--color-primary-400);
  border-radius: var(--space-sm);

  transition: background-color 0.15s ease-in;
}
.tooltip-button:hover {
  background-color: var(--color-primary-500);
}

.add-button-container {
  cursor: pointer;
  display: inline-block;
  padding: var(--space-md);
  background-color: var(--color-primary-800);
  border-radius: var(--space-sm);
  font-size: var(--text);

  transition: background-color 0.15s ease-in;
}
.add-button-container:hover {
  background-color: var(--color-primary-900);
}
.add-icon {
  transition: transform 0.15s ease-in;
  fill: var(--color-primary-200);
}
/* Tooltip END */

/* Shared input styles START */
.title__input,
.paragraph__input,
.block-quote__input {
  font-family: var(--ff-serif);

  padding: var(--space-sm);
  border-radius: var(--space-sm);

  background-color: var(--color-primary-400);
  color: var(--color-primary-900);
  transition: all 0.15s ease-in;
}
.title__input:hover,
.paragraph__input:hover,
.block-quote__input:hover,
.image-input__container:hover {
  background-color: var(--color-primary-500);
}
.title__input:focus,
.paragraph__input:focus,
.block-quote__input:focus {
  outline: none;
  background-color: var(--color-primary-500);
}

.title__input:not(:placeholder-shown),
.paragraph__input:not(:placeholder-shown),
.block-quote__input:not(:placeholder-shown) {
  padding-inline: var(--space-md);
  padding-block: var(--space-lg) var(--space-md);
}

.title__container,
.paragraph__container,
.block-quote__container {
  position: relative;
}
.title__heading,
.paragraph__heading,
.block-quote__heading {
  position: absolute;
  font-size: var(--text-xs);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  top: 0.5rem;
  left: 0.5rem;
}
/* Shared input styles END */

/* Title Start */
.title__container {
  position: relative;
}
.title__input {
  font-size: var(--secondary-heading);
  width: 100%;
  padding-inline: var(--space-md);
  padding-block: var(--space-md);
}
.title__input:not(:placeholder-shown) {
  padding-inline: var(--space-md);
  padding-block: var(--space-lg) var(--space-md);
}
/* Title End */

/* Paragraph Start */
.paragraph__input {
  font-size: var(--tertiary-heading);
  width: 100%;

  padding: var(--space-md) var(--space-md);
  min-height: 35rem;
  resize: none;
  line-height: 1.5;
}
/* Paragraph End */

/* Image Start */
.image-input {
  display: none;
}
.image-input__container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);

  min-height: 40rem;
  background-color: var(--color-primary-400);
  border-radius: var(--space-md);
}
.image-icon-container {
  cursor: pointer;
  background-color: transparent;
}

.image-text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-text,
.image-error-text {
  font-size: var(--text-sm);
}
.image-error-text {
  color: var(--color-error-900);
}
/* Image End */

/* Block Quote Start */
.block-quote__input {
  font-size: var(--tertiary-heading);
  padding: var(--space-md);
  width: 100%;
}
/* Block Quote End */

/* Link Start */

/* Link End */
