:root {
  --fs-2xs: 1.2rem;
  --fs-xs: 1.4rem;
  --fs-sm: 1.6rem;
  --fs-base: 1.8rem;
  --fs-lg: 2rem;
  --fs-xl: 2.4rem;
  --fs-2xl: 3.2rem;
  --fs-3xl: 4rem;
  --fs-4xl: 4.8rem;
  --fs-5xl: 5.6rem;

  --primary-heading: var(--fs-3xl);
  --secondary-heading: var(--fs-xl);
  --tertiary-heading: var(--fs-lg);
  --small-heading: var(--fs-sm);
  --text: var(--fs-base);
  --text-sm: var(--fs-sm);
  --text-xs: var(--fs-2xs);

  --ff-sans: "Roboto", sans;
  --ff-serif: "Roboto-Serif", serif;

  /* SPACING VARIABLES */
  --space-unit: 1rem; /* 10px default size */
  --space-xs: calc(0.4 * var(--space-unit));
  --space-sm: calc(0.8 * var(--space-unit));
  --space-md: calc(1.2 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.2 * var(--space-unit));
  --space-2xl: calc(5.2 * var(--space-unit));
  --space-3xl: calc(8.4 * var(--space-unit));
  --space-4xl: calc(13.6 * var(--space-unit));

  /* COLOR VARIABLES */
  --color-primary-200: #fbf7f1; /* Body Color & Base Color*/
  --color-primary-300: #f9f0e4;
  --color-primary-400: #f5ead7;
  --color-primary-500: #f2e4cf; /* Color of icon hover on menu */
  --color-primary-600: #efdec2;
  --color-primary-700: #31240c;
  --color-primary-800: #211808;
  --color-primary-900: #100c04;

  --color-blue-300: #e2eaf7;
  --color-blue-500: #a5c2f4;
  --color-blue-700: #253042;
  --color-blue-800: #1a222e;

  --color-pink-200: #faeef6;
  --color-pink-300: #f6dfee;
  --color-pink-400: #f2cfe6;
  --color-pink-500: #edbfdd;
  --color-pink-600: #e8b0d5;

  --color-choice-1: #f8e6f3;
  --color-choice-2: #e2eaf7;
  --color-choice-3: #d3f3d6;

  --color-gray-200: #dbdbdb;
  --color-gray-300: #cecece;
  --color-gray-500: #656565;
  --color-gray-700: #454545;
  --color-gray-900: #191919;
}

::selection {
  background-color: var(--color-primary-400);
  color: #000;
}

html {
  font-size: 62.5%;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
p {
  line-height: 1.5;
}
ol,
ul,
menu {
  list-style: none;
}
a:link,
a:visited {
  color: inherit;
}
/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
  font-size: 0;
}
button {
  font-size: inherit;
}

/* ----------------------------------------------------------------------- */

body {
  background-color: var(--color-primary-200);
  font-family: var(--ff-sans);
}

.target {
  /* font-size: var(--primary-heading); */
  /* background-color: var(--color-choice-1); */
}
