.main-nav {
  align-self: start;
  font-size: var(--fs-base);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md);
  border-bottom: 2px solid var(--color-primary-300);

  position: relative;
}

/* Needs serious rethinking. */
.main-nav__logo {
  cursor: pointer;
  position: relative;
  min-width: 20rem;
  padding-bottom: 5rem;
}

.main-nav-actions {
  display: flex;
  align-items: center;
  font-size: 1em;
  gap: var(--space-sm);
}
.profile-image-container {
  position: relative;
  width: 4rem;
  padding-bottom: 4rem;
  border-radius: 100%;
  overflow: hidden;
}

.main-nav-profile__button {
  background-color: transparent;
  cursor: pointer;
}

.email {
  color: var(--color-primary-800);
}
