.main-nav {
  align-self: start;
  font-size: var(--fs-base);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md);
  border-bottom: 2px solid var(--color-primary-300);

  position: relative;
}

.main-nav__logo {
  width: 40%;
}

.main-nav-actions {
  display: flex;
  align-items: center;
  font-size: 1em;
  gap: var(--space-sm);
}
/* .bell-button,
.write-button {
  background-color: transparent;
  cursor: pointer;
  padding: var(--space-md);
  transition: all 0.1s ease-in;
  border-radius: var(--space-sm);
}
.write-button:hover,
.bell-button:hover {
  background-color: var(--color-primary-400);
} */

.bell-button {
  background-color: transparent;
  cursor: pointer;
  padding: var(--space-md);
  transition: all 0.1s ease-in;
  border-radius: var(--space-sm);
}
.bell-button:hover {
  background-color: var(--color-primary-400);
}

.main-nav-profile {
  display: flex;
  justify-content: center;
}
.main-nav-profile__image {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
.main-nav-profile__button {
  background-color: transparent;
  cursor: pointer;
}

.email {
  color: var(--color-primary-800);
}
